.container {
  text-align: center;
}
table {
  margin: auto;
}
.calculator {
  display: inline-block;
}
button {
    width: 63px;
    font-size: 33px;
    width: 95px;
    border: 3px solid black;
    background: #ffeaea;
    border-radius: 84px;
    height: 88px;
    margin: 3px;
    padding: 0px;
}
#screen{
    width: 408px;
    height: 44px;
    border: 3px solid black;
    background-color: #c8ffd6;
    color: black;
    border-radius: 66px;
    font-size: 33px;
    padding: 10px;
}
.calculator{
    background-color: #8b9f9d;
    padding: 15px;
    border: 3px solid black;
    border-radius: 32px;
}
h1{
    background-color: black;
    color: white;
}
